.instructions_wrapper {
    background-color: #F3F6FD;
    color: #1B1A19;
    min-height: 100vh;
}

.instructions_wrapper .container {
    max-width: 1480px;
    padding: 112px 20px;
    margin: 0 auto;
}

.instructions_wrapper .container .title {
    font-family: Cairo;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.15;
    background: linear-gradient(101.63deg, #28A1C0 8.53%, #16489C 68.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    max-width: 440px;
}

.instructions_wrapper .container .wrapper {
    font-size: 18px;
    line-height: 1.44;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    width: 100%;
    padding-top: 32px;
}

.wrapper .column .extraSpacing {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.firstRow {
    margin-top: 30px;
}

.sublist {
    padding-left: 20px;
}

@media (min-width: 768px) {
    .column {
        width: calc(50% - 54px);
        padding: 30px 0;
    }

    .wrapper {
        position: relative;
    }

    .wrapper::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px dashed black;
    }
}